<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.gmall.product.mapper.SkuValueIdsMapper">
    <select id="getSkuValueIdsMap" resultType="map">
        SELECT
            GROUP_CONCAT(sale_attr_value_id ORDER BY base_sale_attr_id SEPARATOR '|') saleAttrId,
            sku_id
        FROM sku_sale_attr_value sksav INNER JOIN spu_sale_attr_value spsav
        ON sksav.`sale_attr_value_id` = spsav.`id`
        WHERE sksav.`spu_id`= #{spuId}
        GROUP BY sku_id
    </select>
</mapper>